<div class="search-box">
  <h3>Produkt suchen oder neuen Namen eingeben</h3>

  <input
    type="text"
    placeholder="z.B. Milch"
    [formControl]="searchControl"
    class="input-field"
  />

  @let searchResults = searchResults$ | async;
  @for (product of searchResults; track $index) {
    <div class="result" (click)="addItem(product)">
      {{ product.name }}
    </div>
  }

  @if (searchResults?.length === 0 && searchControl.value) {
    <div
      class="create-option"
      (click)="addItem(null)"
    >
      Neues Produkt erstellen: "<strong>{{ searchControl.value }}</strong>"
    </div>
  }

  @if (createItem){
    <app-add-item-dialog
      (confirm)="onItemCreated($event)"
      (cancel)="createItem = false"
      [name]="selectedProduct !== null ? selectedProduct.name : searchControl.value!!"
      [unit]="selectedProduct !== null ? selectedProduct.unit : ''"
    ></app-add-item-dialog>
  }

</div>
